echo **dcon mode**

cl_dummy_control 1
cl_dummy_jump 0
cl_dummy_fire 0
cl_dummy_hook 0

# --------------------------------------------------------------------------
## dummy jump
echo "f: jump"
bind f "+toggle cl_dummy_jump 1 0"
# --------------------------------------------------------------------------
## dummy hook
echo "e: hook"
bind e "+toggle cl_dummy_hook 1 0"
# --------------------------------------------------------------------------
## dummy fire
echo "v: fire"
bind v "+toggle cl_dummy_fire 1 0"
# --------------------------------------------------------------------------
## deepfly
echo "t: deepfly"
bind t "bind mouse1 \"+fire; +toggle cl_dummy_hammer 1 0\"; echo deepfly on"
# --------------------------------------------------------------------------

bind ctrl+f "exec bind/2_fly_mode.cfg"