bind ctrl+1 "say (｡ ・∀・)ノ HI ~"

bind ctrl+2 "say ʕっ•ω •ʔっ♥♥♥♥"
bind alt+2 "say ヾ(｡˃ ᵕ ˂ )ﾉ♡"

bind ctrl+3 "say ( • ̀ω•́ )✧"
bind alt+3 "say (ㆆᴗㆆ)"

bind ctrl+4 "say (⊙ _ ⊙ )"
bind alt+4 "say (´･ω･`)?"

bind ctrl+5 "say (•́︿•̀)"

bind ctrl+6 "say (っ╥﹏╥ς)"
bind alt+6 "say (つ╥﹏╥)つ"

bind ctrl+0 "say (っ'-')╮=͟͟͞🍋   ヽ(°〇°)ﾉ"
bind ctrl+g "say ░█▀▀▀░█▀▀▀░█▀▀░▀▀█░░█░ ░█░▀█░█░▀█░█▀▀░▄▀░░░▀░ ░▀▀▀▀░▀▀▀▀░▀▀▀░▀▀▀░░▀"

# preview emoji
bind ctrl+shift+1 "echo (｡ ・∀・)ノ HI ~"

bind ctrl+shift+2 "echo ʕっ•ω •ʔっ♥♥♥♥"
bind alt+shift+2 "echo ヾ(｡˃ ᵕ ˂ )ﾉ♡"

bind ctrl+shift+3 "echo ( • ̀ω•́ )✧"
bind alt+shift+3 "echo (ㆆᴗㆆ)"

bind ctrl+shift+4 "echo (⊙ _ ⊙ )"
bind alt+shift+4 "echo (´･ω･`)?"

bind ctrl+shift+5 "echo (•́︿•̀)"

bind ctrl+shift+6 "echo (っ╥﹏╥ς)"
bind alt+shift+6 "echo (つ╥﹏╥)つ"

bind ctrl+shift+0 "echo (っ'-')╮=͟͟͞🍋   ヽ(°〇°)ﾉ"
bind ctrl+shift+g "echo ░█▀▀▀░█▀▀▀░█▀▀░▀▀█░░█░ ░█░▀█░█░▀█░█▀▀░▄▀░░░▀░ ░▀▀▀▀░▀▀▀▀░▀▀▀░▀▀▀░░▀"
