# greetings
bind ctrl+1 "say (｡ ・∀・)ノ HI ~"
bind ctrl+2 "say ⸜(｡˃ ᵕ ˂ )⸝♡"
bind ctrl+3 "say ʕっ•ω •ʔっ♥♥♥♥"

bind ctrl+4 "say (⊙ _ ⊙ )"
bind ctrl+5 "say ∘ ∘ ∘ ( °ヮ° ) ?"

bind ctrl+0 "say (っ'-')╮=͟͟͞🍋   ヽ(°〇°)ﾉ"

bind ctrl+g "say ░█▀▀▀░█▀▀▀░█▀▀░▀▀█░░█░ ░█░▀█░█░▀█░█▀▀░▄▀░░░▀░ ░▀▀▀▀░▀▀▀▀░▀▀▀░▀▀▀░░▀"

bind rightbracket "echo (つ≧▽≦)つ o((>ω< ))o (´･ω･`)?;"
